<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Patients</title>
</head>
<body>
    <h1>All Patients</h1>
    <ul>
        {% for patient in patients %}
        <li>
            <strong>Name:</strong> {{ patient.name[0].given[0] }} {{ patient.name[0].family[0] }}<br>
            <strong>Gender:</strong> {{ patient.gender }}<br>
            <strong>Birth Date:</strong> {{ patient.birthDate.as_json() }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>