{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Interface</title>
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/nav.css' %}"> {% endcomment %}

</head>
<body>
    <header>
        <nav>
            <div class="name"><h3><a href="{% url 'index' %}">屬於你的專屬醫療</a></h3></div>
            <div class="logout"><a href="{% url 'log_out' %}">登出</a></div>
        </nav>
    </header>
    {% block content %}
    <main>
        <div class="message_contain">
            <ul class="list-unstyled messages-list">
                <li class="chat received">
                    <div class="robot"><img src="{% static 'image/robot.png' %}" alt="" class="logo"></div>
                    <div class="received_container">
                        <div class="message-sender">
                            <b>衛教機器人</b>
                        </div>
                        <div class="message-content">
                            Hi! 我是你的衛教機器人，任何事都可以問我喔~~
                        </div>
                    </div>
                </li>
                {% for chat in chats %}
                {% if chat.user == request.user %}
                <li class="chat sent">
                    <div class="sent_container">
                      <div class="message-sender">
                        <b>You</b>
                      </div>
                      <div class="message-content">
                        {{chat.message}}
                      </div>
                    </div>
                    <div class="user"><img src="{% static 'image/people.png' %}" alt="" class="userpic"></div>
                </li>
                <li class="chat received">
                    <div class="robot"><img src="{% static 'image/robot.png' %}" alt="" class="logo"></div>
                    <div class="received_container">
                      <div class="message-sender">
                        <b>衛教機器人</b>
                      </div>
                      <div class="message-content">
                        {{chat.response}}
                      </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </main>
    <section>

      <form action="{% url 'chatbot' %}" method="POST" class="message-form">
        {% csrf_token %}
        <div class="userinput">
            <input type="text" class="form-control message-input" name="message" placeholder="輸入訊息...">
            <button type="button" class="btn btn-primary btn-send" onclick="assistInput()">輔助輸入</button>

            <button type="submit"><img src="{% static 'image/send.png' %}" alt=""></button>
        </div>
    </form>
    </section>


</body>
  
<script>
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');
  messageForm.addEventListener('submit', (event) => {
      event.preventDefault();
  
      const message = messageInput.value.trim();
      if (message.length === 0) {
          return;
      }
  
      const messageItem = document.createElement('li');
      messageItem.classList.add('chat','sent');
      messageItem.innerHTML = `
          <div class="sent_container">
              <div class="message-sender">
                  <b>You</b>
              </div>
              <div class="message-content">
                  ${message}
              </div>
          </div>
          <div class="user"><img src="{% static 'image/people.png' %}" alt="" class="userpic"></div>`;
      messagesList.appendChild(messageItem);
      messagesList.scrollTop = messagesList.scrollHeight;
      messageInput.value = '';
  
      fetch("{% url 'chatbot' %}", {
          method: 'POST',
          headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
          body: new URLSearchParams({
              'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
              'message': message
          })
      })
      .then(response => response.json())
      .then(data => {
          const response = data.response;
          const messageItem = document.createElement('li');
          messageItem.classList.add('chat','received');
          messageItem.innerHTML = `
          <div class="robot"><img src="{% static 'image/robot.png' %}" alt="" class="logo"></div>
          <div class="received_container">
              <div class="message-sender">
                  <b>衛教機器人</b>
              </div>
              <div class="message-content">
                  ${response}
              </div>
          </div>`;
          messagesList.appendChild(messageItem);

          messagesList.scrollTop = messagesList.scrollHeight;

      });
  });
const assistQuestions = [
    '如何預防流感？',
    '怎麼樣才算是健康的飲食？',
    '我應該怎麼樣開始運動？',
    '我最近一直咳嗽，是不是得了感冒？',
    '頭痛有什麼快速緩解的方法？',
    '怎麼健康地減重？',
    '怎麼樣才能提高睡眠質量？',
    '怎麼保護皮膚不乾燥？',
    '耳朵後面按壓好痛是什麼問題？',
    '肚臍上方很痛是甚麼問題？',
    '肩膀一直很痛，平常還一直咳嗽',
    '女生尿道酸痛是什麼問題？',
    '有什麼方法可以袪痘？',
    '喉嚨痛怎麼辦？'

];

function getRandomAssistQuestion() {
    const randomIndex = Math.floor(Math.random() * assistQuestions.length);
    return assistQuestions[randomIndex];
}
function assistInput() {
    fetch('/api/help_input/')
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const diagnoses = data.diagnoses.map(record => record.diagnosis).join(', ');
                const messageInput = document.querySelector('.message-input');
                messageInput.value = `我曾經診斷出：${diagnoses}。請問我日常需要注意什麼?。`;
            } else {
                const randomQuestion = getRandomAssistQuestion();
                messageInput.value = randomQuestion;
            }
        })
        .catch(error => {
            console.error('Error fetching diagnosis records:', error);
            const randomQuestion = getRandomAssistQuestion();
            const messageInput = document.querySelector('.message-input');
            messageInput.value = randomQuestion;
        });
}

</script>
  {% endblock %}
</html>