{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{%static 'css/login.css' %}"> 
    <link rel="stylesheet" href="{%static 'css/nav.css' %}">
</head>    


<!--{% block title %}Login{% endblock %}-->

<!--{% block styles %}-->

<!--{% endblock %}-->

<!--{% block content %}-->
<body>
  <!-- <header>
    <div class="logo">衛教e聊</div>
    <nav>
        <ul>
            <li><a href="index">首頁</a></li>
            <li><a href="#">登入</a></li>
        </ul>
    </nav>
  </header> -->
<div class="login-container">
  <div class="card">
    <div class="card-header">登入</div>
    <div class="card-body">
      <!--{% if error_message %}-->
        <!--<div class="alert alert-danger" role="alert">{{ error_message }}</div>-->
      <!--{% endif %}-->
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          <!--<label for="username">Username</label>-->
          <input type="text" class="form-control" id="username" name="username" required placeholder="身分證號">
        </div>
        <div class="form-group">
          <!--<label for="password">Password</label>-->
          <input type="password" class="form-control" id="password" name="password" required required placeholder="密碼">
        </div>
        <button type="submit">登入</button>
        <div class="register">
          <a href="{% url 'register' %}">會員註冊</a>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- <footer>
<div style ="text-align:right">屬於你的衛教e聊<br>Copyright © 2024 e-Chat All Rights.</div>
</footer> -->
</div>
{% if error_message %}
    <script>
        window.alert("{{ error_message|escapejs }}");
    </script>
{% elif success_message %}
    <script>
        window.alert("{{ success_message|escapejs }}");
    </script>
{% endif %}
</body>
<!--{% endblock %}-->
